
.profile-tabs-container {
    font-family: 'BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif';
    display: flex;
    justify-content: space-between;
    color: white;
    width: 60%;
    align-items: center;
    align-self: center;
    padding-bottom: 20px;

    .post-tabs {
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: 20px;
        cursor: pointer;
        border-top: 2px solid white;

    }
    .post-tabs:hover {
        
    }

    .reels-tab {
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: 20px;
        cursor: pointer;


        svg {
            width: 1rem;
            height: 1rem;
        }
    }

    .saved-tabs {
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: 20px;
        cursor: pointer;

    }

    .tags-tabs {
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: 20px;
        cursor: pointer;

    }

    img {
        background-color: white;
        width: 1rem;
        height: 1rem;
    }

    span {
        letter-spacing: 2px;
        font-weight: bold;
        font-size: medium;
        cursor: pointer;
        
    }

    .icons {
        width: 1rem;
        height: 1rem;
    }

}