$border-color: lightgray;
$border-radius: 5px; 
$input-width: 90%; 
$input-height: 35px;
$button-background-color: #0099e6;
$button-color: white;
$font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$gap-small: 15px; 
$gap-large: 20px;

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 550px;
  padding: 20px; // Add padding for better spacing
  font-family: $font-family;
  gap: $gap-large;

  @media (max-width: 768px) {
    width: 300px;
  }

  @media (max-width: 480px) {
    width: 90%;
  }
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: $gap-small; 

    .instagram-name-logo {
      svg {
        width: 150px;
        height: auto;
    }
    }
    
  }
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;

  input {
    width: $input-width;
    height: $input-height;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding-left: 10px;

    @media (max-width: 480px) {
      width: 90%;
    }
  }
}

.password-input {
    width: $input-width;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    gap: 4px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: white;

    input {
        width: 80%;
        height: $input-height;
        padding-left: 10px;
        border: none;
        @media (max-width: 480px) {
          width: 90%;
        }
    }

    button {
      border: none;
      background-color: white;
      color: $button-background-color;
      margin-right: 5px;
    }
}

.login-button {
  width: $input-width;
  height: $input-height;
  border: none; 
  border-radius: $border-radius;
  background-color: $button-background-color;
  color: $button-color;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer; 

  @media (max-width: 480px) {
    width: 90%;
  }
}

.line-container {
  width: $input-width;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap-small;

  hr {
    width: 40%;
    border: 0; 
    height: 1px;
    background-color: $border-color;
  }
}

.social-login-container {
  width: $input-width;
  @media (max-width: 480px) {
    width: 90%;
  }
}

.social-login-button {
  width: $input-width;
  background-color: white;
  border: 1px solid white; 
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
  cursor: pointer; 

  .google-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.forgot-password-container {
    margin-top: 30px;
  a {
    text-decoration: none;
    color: $button-background-color;
    font-weight: bold;
  }
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105%;
  height: 10%;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 10px; 
  color: white;

  @media (max-width: 480px) {
    border: none;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $button-background-color;
    margin-left: 5px; 
  }
}
