.profile-post-container {
    overflow-y: auto;
  
    .profile-post-inner-container {
      display: grid;
      width: 100%;
      height: auto;
  
      img {
        width: 100%;
        aspect-ratio: 4/5;
        object-fit: cover;
      }
    }
  }
  