@import "../../pages/HomePage/homepage.scss";
@import "../../components/Sidebar/sidebar.scss";
@import "../../components/SuggestedProfiles/suggestedprofiles.scss";

body {
    margin: 0;
    padding: 0;
    font-family: 'Sans UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.pagelayout-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #000;
    padding: 0;
    margin: 0;
    color: white;
    overflow-y: hidden;

}